p {
  font-size: 10px;
  margin: 0px;
  font-weight: 400px;
}

.icon {
  width: 24px;
  margin-bottom: 6px;
}

.home {
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.home:hover {
  background-color: rgb(235, 235, 235);
}

.sidebar {
  width: 72px;
  position: fixed;
  background-color: white;
  bottom: 0px;
  left: 0px;
  top: 55px;
  z-index: 200;
  padding-top:5px;
}