.back-button {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 8px;
  font-size: 16px;
}

.page-button {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 18px;
}

.next-button {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 8px;
  font-size: 16px;
}

.Stretch-button {
  background-color: green;
  color: white;
  border: none;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 10px;
  font-size: 16px;
  transition: padding-left 0.15s,
    padding-right 0.15s,
    padding-top 0.15s,
    padding-bottom 0.15s;
  cursor: pointer;
}

.Stretch-button:hover {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.Stretch-button:active {
  opacity: 0.7;
}

.shadow-button {
  background-color: green;
  color: white;
  font-size: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.shadow-button:active {
  margin-top: 3px;
  margin-left: 3px;
  box-shadow: none;
}

.one-button {
  background-color: green;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  transition: padding 0.15s,
    margin 0,15s;
}

.one-button:hover {
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 0px;
  margin-right: 0px;
}