p {
  font-family: Arial;
  margin: 0;
}

.body {
  height: 3000px;
}

.rightside {
  background-color: green;
  color: white;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100px;
}

.background {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  width: 250px;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 6px;
}

.modal {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.this {
  font-size: 13px;
  margin-bottom: 10px;
}